body {
  background-image: url("../images/hearthhome.jpg");
}


#targetDiv {
  border: 2px solid #ccc;
  background-color: rgba(25, 25, 25, .7);
  color: #ddd;
  padding: 15px;
}

#targetDiv > h1 {
  color: #ddd;
}



#addTagModal .list-group-item{
  cursor: pointer;
}

#addTagModal .list-group-item:hover{
  background-color: rgba(50, 50, 250, .95);
  color: #fff;
}
